@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

.App{
    width : 100vw;
    height : 100vh;
    background: rgb(209, 208, 208);
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.header-container{
    margin-top: 2rem;
    width: 100vw;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    height: fit-content;
    font-size: 4rem;
    font-weight: bold;
    font-family: "Neucha", cursive;
}
.input-field{
    margin: 5%;
    display: flex;
    justify-content: center;
    /* background-color: red; */
    width: 50%;
    min-height: fit-content;
    height: 5%;
}
.input_task{
    margin: 0 5%;
    padding: 1% 5%;
    width: 80%;
    border-radius: 5vw;
    height: 80%;
    outline: none;

    font-size: 120%;
}
.btn_task{
    margin: auto;
    border-radius: 50%;
    padding: 2% 4%;
    min-width: 20%;
    font-size: 1rem;
    cursor: pointer;
}

@media (max-width : 1080px) {
    .btn_task{
        padding: 2%;
        font-size: 70%;
    }
}