@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

.App{
    width : 100vw;
    height : 100vh;
    background: rgb(209, 208, 208);
    background: repeating-linear-gradient( to bottom right , red , yellow );
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.header-container{
    margin-top: 2rem;
    width: 100vw;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    height: fit-content;
    font-size: 4rem;
    font-weight: bold;
    font-family: "Neucha", cursive;
}
.input-field{
    margin: 5%;
    display: flex;
    justify-content: center;
    /* background-color: red; */
    width: 50%;
    min-height: fit-content;
    height: 5%;
}
.input_task{
    width: 80%;
    outline: none;

    font-size: 1rem;
}
.btn_task{
    font-size: 1rem;
    cursor: pointer;
}
.todo_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 50vh;
    overflow: auto;
}
.todo_list::-webkit-scrollbar{
    display: none;
}
.todo_list > * {
    display: block;
    /* background-color: ; */
    border:  2px solid rgb(19, 14, 8);
    width: 100%;
    min-width: fit-content;
    height: fit-content;

}
.todo{
    margin: 2vh 0;
    display: flex;
    justify-content: space-between;
    width: 45vw;
}
.task_edit{
    width: 50%;
    height: 2vw;
    padding: 1.65vh 1vw;
    background: transparent;
    outline: none;
    font-size: 2vw;
    border: none;
}
.task_name{
    margin: 1vh 2vw;
    font-size: 2vw;
}
.task_actions{
    margin: auto 0;

}
.icon{
    margin: 0.8vw;
    width: 3vw;
}
@media (max-width : 1080px) {
    .btn_task{
        padding: 2%;
        font-size: 70%;
    }
}